@import 'service/normalize';
@import 'service/mixines';
@import 'service/fonts';
@import 'service/variables';
@import 'ui';
// @import '~flag-icon-css/sass/flag-icon.scss';
//! ====================DEFAULT STYLES====================
body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $color-text;
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $maxWidthContainer;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  //? Landscape tablets and medium desktops //! < 1191px
  @media (max-width: $md1) {
    max-width: 970px;
  }

  //? Portrait tablets and small desktops //! < 991px
  @media (max-width: $md2) {
    max-width: 750px;
  }

  //? Landscape phones and portrait tablets //! < 767px
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
}

.content {
  flex: 1 1 auto;
  // padding-top: ; //height of header

  //? Landscape phones and portrait tablets //! < 767px
  @media (max-width: $md3) {
    // padding-top: ; //height of header on phone
  }
}
