//! ======================VARIABLES======================
$fontFamily: 'Montserrat'; //!
$fontSize: 16px; //!

//? sizes
$maxWidthContainer: 1000px; //+40px padding right+left   //!
// $maxWidth: ;

//? colors
$color-white: #fff;
$color-black: #000;
$preloader-color: $color-black;

$color-text: $color-black; //!

//? Other
$transition-time: 0.3s;

//? main breakpoints
$md1: 1191px; /* Landscape tablets and medium desktops */
$md2: 991px; /* Portrait tablets and small desktops */
$md3: 767px; /* Landscape phones and portrait tablets */
$md4: 480px; /* Portrait phones and smaller */
