.header {
  display: flex;
  margin-top: 50px;
  // &__info {
  // }

  &__col {
    flex-basis: 50%;
  }

  // &__location {
  // }
}

.info {
  display: flex;
  flex-wrap: wrap;

  &__icon {
    margin-right: 10px;
  }
  &__temperature-block {
    display: flex;
    margin-right: 10px;
  }

  &__temperature {
    font-weight: bold;
    font-size: 45px;
    margin-right: 10px;
    min-width: 65px;
    text-align: right;
  }

  &__units {
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    margin-top: 5px;
  }

  &__unit {
    // transition: background-color $transition-time ease 0s;
    @media (min-width: 767px) {
      &:hover {
        font-weight: bold;
      }
    }
    &.active {
      font-weight: bold;
    }
  }

  &__subinfo {
    font-size: 15px;
    white-space: nowrap;
    p {
      margin-bottom: 5px;
    }
  }
}

.location {
  margin-left: 10px;
  font-size: 15px;
  text-align: right;
  &__city {
    width: auto;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__time {
    margin-bottom: 5px;
  }

  // &__status {
  // }
}
